<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" (click)="goBack()">
    <path d="M15 6l-6 6 6 6" stroke="black" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
  
<header>
    <h1>Quero Doar</h1>
    
    <div class="rectangles">
        <div class="rectangle rectangle-green"></div>
        <div class="rectangle rectangle-red"></div>
        <div class="rectangle rectangle-yellow"></div>
    </div>
</header>

<p>Conheça e participe dos movimentos de doação que estão acontecendo.</p>

<app-info-panel
[title]="'Campanhas de Doação'"
[arrayTips]="arrayQueroDoar">
</app-info-panel>