:root {
    --primary: #042B3D;
    --primary-010: #073E59;

    --secondary: #0d8dc4;
    --secondary-010: #1e6e94;
    
    --btn-selected:#10101a;
  
    --white: #fff;
    --white-010: #e7e0e0;
  
    --black: #10101a;
    --black-010: #2a2a30;
  
    --grey: #9b9ba0;
  }
  